build: [
  ["dune" "subst"] {dev}
  [
    "MUTAML_DIFF_COMMAND='gdiff -u'" {os = "freebsd"}
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test & arch != "ppc64" & arch != "riscv64"}
    "@doc" {with-doc}
  ]
]
