name: Main CI workflow

on:
  pull_request:
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

        ocaml-compiler:
#          - 4.08.x
#          - 4.09.x
#          - 4.10.x
#          - 4.11.x
          - 4.12.x
#          - 4.13.x
          - 4.14.x
          - 5.3.x

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install GNU bash, sed, diff w/color, and setup timeout
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew update
          brew install bash
          brew install gnu-sed
          echo "$(brew --prefix)/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH
          brew install diffutils
          brew install coreutils
          echo "$(brew --prefix)/opt/coreutils/libexec/gnubin" >> $GITHUB_PATH
          echo "$PATH"
          echo `which timeout`
#         ls /usr/local/opt/coreutils/libexec/gnubin

      - run: opam install . --deps-only --with-test

      - run: opam exec -- dune build @all

      - run: opam exec -- dune build @runtest
